@charset "utf-8";


*{margin: 0; padding: 0;}
body{margin: 0; padding: 0;}
ul,ol,li {list-style: none;}
a {text-decoration: none; color: #333;}



/* 헤더 */

header {width: 100%;height: 80px;margin: 0 auto; position: absolute; top: 0; left: 0; z-index: 5;background: rgba(255,255,255,0.3);}
header img{width: 200px; margin: 15px;float: left; transition: 1s;float: left;}

nav{width: 75%;height: 2%;float:right; margin-right: 2%;margin-top: 25px;}
nav li{width: 16%;float: left;text-align: center;font-size: 20px;transition: 1s;font-weight: 900;}
nav h4{float: right;text-align: center;transition: 1s;font-size: 20px;}
nav h4:hover{cursor: pointer; transform: scale(110%);color: red;}
nav li:hover{cursor: pointer; transform: scale(110%);color: red;}
.hambuger{display: none;}

/* 슬라이더 */

#slidewrap {width: 100%; height: 953px;margin: 0px auto; position: relative; overflow: hidden; }

.slide {width: 300%; overflow: hidden;}
.slide li {width: 33.3%; height: 953px;float: left;}
.slide li img {width: 100%;height: 100%;}
.slide_text a {width: 350px; height: 60px; line-height: 60px; position: absolute; top:35%; left: 50%; transform: translate(-50%, -50%); text-align: center;
            line-height: 120px; border-radius: 10px;transition: 0.5s;font-size: 100px; font-weight: 900; color: #ffffff; opacity: 0.5;}
.slide_text a:hover{font-size: 105px;color: #000;opacity: 1;}
.slide_text span{position: absolute;top: 50%;display: block;font-size: 38px;color: #ffffff;
            line-height: 40px; background: rgba(0,0,0,0,6);cursor: pointer;height: 50px;transform: translateY(-50%);transition: 0.5s;}
.slide_text span:hover {background: rgba(255,255,255,0.8);color: #000;}

.prev{left: 0;border-radius: 0 10px 10px 0; padding: 0 8px 0 2px;}
.next{right: 0; border-radius: 10px 0px 0px 10px; padding: 0 2px 0 8px;}

.btn6{border:0px solid transparent; -webkit-transition: all 1s cubic-bezier(.5, .24, 0, 1);text-align: center;font-weight: 500;
          transition: all 1s cubic-bezier(.5, .24, 0, 1);} 
.btn6:before {content: '';position: absolute;left: 0px;bottom:-325px;z-index:-10;
                width: 0%;height:400px;border-radius: 40px;box-shadow: inset 100px 100px 100px 200px #ffffff; opacity: 0.5;
               display: block;-webkit-transition: all 1s cubic-bezier(.5, .24, 0, 1);transition: all 1s cubic-bezier(.5, .24, 0, 1)}
.btn6:hover:before {width:100%;}

/* 디스코버 */
.text{transition: 1s;}

#disco{width: 100%; height: 800px; display: contents; display: block;}
.dis1{width: 50%; height: 400px;float: left; background:url(/Img/disco_1.png);}
.dis1 h1 {font-size: 30px; font-weight: 900;padding: 20px 0;margin-top: 80px;margin-left: 50px ;color: #fff;transition: 1s;}
.dis1 p {margin-top: 20px;padding-bottom: 20px; font-size: 17px;transition: 1s; font-weight: 500;color: #fff;margin-left: 50px;}
.dis1 h2{font-size: 20px; color:#fff;float: right;padding-right: 40px;transition: 1s;}
.dis1 h2:hover{cursor: pointer;padding-right: 20px;color: red;}
.dis1:hover .text{background-color: rgba(0,0,0,0.5);}

.dis2{width: 25%; height: 400px;float: left;background: repeating-linear-gradient(-45deg,#5c96b8,#77c2ee 1px,#64a4c9 0,#77c2ee 2px);}   
.dis2 h1 {font-size: 30px; font-weight: 900;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;margin-top: 80px;color: #fff;transition: 1s;}
.dis2 p {margin-top: 20px;padding-bottom: 20px; font-size: 17px;transition: 1s;color: #fff;margin-left: 20px;}
.dis2 h2{font-size: 20px; color:#fff;float: right;padding-right: 40px;transition: 1s;}
.dis2 h2:hover{cursor: pointer;padding-right: 20px;color: red;}
.dis2:hover .text{background-color: rgba(0,0,0,0.5);transition: 1s;}

.dis3{width: 25%; height: 400px;float: left; background: url(/Img/disco_2.png);}
.dis3 h1 {font-size: 30px; font-weight: 900;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;margin-top: 80px;color: #fff;transition: 1s;}
.dis3 p {margin-top: 20px;padding-bottom: 20px; font-size: 17px;transition: 1s;font-weight: 500;color: #fff;margin-left: 20px;}
.dis3 h2{font-size: 20px; color:#fff;float: right;padding-right: 40px;transition: 1s;}
.dis3 h2:hover{cursor: pointer;padding-right: 20px;color: red;}
.dis3:hover .text{background-color: rgba(0,0,0,0.5);transition: 1s;}


.dis4{width: 50%; height: 400px;float: left;}
#notice{width: 100%;margin: 20px;}
#notice ul{height: 46px;background-color: #eee;width: 70%;}
#notice li{font-weight: 700;font-size: 22px;float: left; width: 33.3%; height: 39px;text-align: center;cursor: pointer;padding-top: 7px;}
#notice .tab_list{letter-spacing:3px;line-height: 2;font-size: 17px;float: left;width: 97%;border-top:2px solid #60b2d3; border-left: 1px
                    solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px;}
.active {background-color: #69a0ce;color:#fff;transition: 0.5s;}
.tab_sub:not(:first-of-type){display: none; text-decoration: none;}
.tab_sub h2{font-weight: 500;font-size: 15px; float: right; color: #000000;opacity: 0.5;text-align: center;}
.tab_sub a:hover{color: #1772da; text-decoration: underline;transition: 0.2s;}


.dis5{width: 25%; height: 400px;float: left; background: url(/Img/disco_3.png);transition: 1s;}
.dis5 h1 {font-size: 30px; font-weight: 900;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;margin-top: 80px;color: #fff;transition: 1s;}
.dis5 p {margin-top: 20px;padding-bottom: 20px; font-size: 17px;transition: 1s;font-weight: 500;color: #fff;margin-left: 20px;}
.dis5 h2{font-size: 20px; color:#fff;float: right;padding-right: 40px;transition: 1s;}
.dis5 h2:hover{cursor: pointer;padding-right: 20px;color: red;}
.dis5:hover .text{background-color: rgba(0,0,0,0.5);transition: 1s;}

.dis6{width: 25%; height: 400px;float: left; background: repeating-linear-gradient(-45deg,#5cb8b8,#77eee4 1px,#64c9a2 0,#77eede 2px)}   
.dis6 h1 {font-size: 30px; font-weight: 900;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;margin-top: 80px;color: #fff;transition: 1s;}
.dis6 p {margin-top: 20px; padding-bottom: 20px;font-size: 17px;transition: 1s;color: #fff;margin-left: 20px;}
.dis6 h2{font-size: 20px; color:#fff;float: right;padding-right: 40px;transition: 1s;}
.dis6 h2:hover{cursor: pointer;padding-right: 20px;color: red;}
.dis6:hover .text{background-color: rgba(0,0,0,0.5);transition: 1s;}

/* 인플루언서 */
#in {width: 100%; height: auto;margin-bottom:200px; }
.ain {text-align: center;margin-top: 10%;}
.ain h1 {font-size: 300%;color: #5c96b8;}
.ain h2 {font-size: 150%;color: #7da3b9;}
.ain p {font-size: 130%; font-weight: 800; background-color: #5c96b8;}
.inp {width: 100%;display: flex;text-align: center;padding-top: 50px;}
.inp img{filter:brightness(0.7);width: 60%;box-sizing: border-box;border-radius: 50%;transition: 1s;}
.inp a{width: 30%;}
.inp p{font-size: 20px; font-weight: 500;}
.inp img:hover{filter:brightness(1);transform: scale(110%);}


/* 사이트 */
#sit{width: 100%; height: 80px;background-color: rgb(0, 0, 0);}
.sit ul{font-size: 30px;padding-top: 20px;overflow: hidden;}
.sit li{width: 24%;text-align: center;transition: 1s;float: left;border-left: solid #bbbbbb ;height: 50%;}
.sit a{color: #bbbbbb;transition: 1s;}
.sit li:hover{transform: scale(125%);color: #000;}
.sit a:hover{ color: #fff;}

/* 컨테이너 */
#container{width: 100%; height: 250px;background-color:#353030}
.contain {color: #fff;text-align: center;padding-top: 50px;}
.contain h3{font-size: 15px;opacity: 0.5;font-weight: 300;}
.contain h2{font-size: 16px;opacity: 0.6;font-weight: 500;}
.contain h4{font-size: 16px;opacity: 0.4;font-weight: 300;transition: 0.5s;}
.contain h4:hover{cursor: pointer;opacity: 1;}



@media (max-width:850px) {
    header {width: 100%;height: auto;padding: 20px;box-sizing: border-box;display: flex;justify-content: space-between;align-items: center;position: absolute;}
    header img{width: 100px;margin: 0;}
    nav {position: absolute;top: 70px; left: 0;width: 100%; height: auto; background: rgba(255,255,255,0.3);
        margin: 0; padding: 10px;box-sizing: border-box;
        /* display: none; */
    }
 
    nav li {float: initial; width: 100%;font-size: 18px;text-align:right;}
    nav h4 {font-size: 18px;float: initial; text-align: right;margin-top: 20px;}
    nav li:hover{transform: none;color: red;background: rgba(0,0,0,0.3);}
    nav h4:hover{transform: none;color: red;}
    .hambuger{display: block;font-size: 30px;transition: 0.5s;}
    .hambuger:hover{color: #fff;cursor: pointer;}
    /* nav:hover{padding: 0;} */


    /* 슬라이드 */
    #slidewrap {height: 800px;}
    .slide li img {height: 800px;}
    .slide_text a { width: 260px;font-size: 50px;line-height: 70px;}
    .slide_text a:hover {font-size: 60px;}
    .btn6:before {height: 250px;bottom: -175px;}

    #disco {height: auto;display: flex;flex-wrap: wrap;}
    .dis1 {width: 100%;}
    .dis2 {width: 100%;}
    .dis3 {width: 100%;}
    .dis4 {width: 100%;order: 2;}
    #notice {width: calc(100% - 40px);}
    .dis6 {width: 100%;}
    .dis5 {width: 100%;}

    #in {width: 100%; height: auto;}
    .inp {width: 100%;padding: 50px;flex-wrap: wrap;justify-content: space-evenly;box-sizing: border-box;}
    .inp a{width: 40%; margin-bottom: 30px;}
    .inp img{width: 90%;box-sizing: border-box;}
    .ain h1{font-size: 300%;}

    .sit ul{font-size: 130%;padding-top: 25px;}
    .sit li:hover{transform: scale(110%);}
}

@media (min-width:850px) and (max-width:1415px) {
    header {width: 100%;height: auto;}
    header img {width: 100px;}
    header img:hover { width: 120px;}
    nav {margin-top: 13px;}
    nav li {font-size: 100%;margin: 5px;}


    #slidewrap {height: 800px;}
    .slide li img {height: 800px;}
    .slide_text a { width: 400px;height: 150px; font-size: 80px;line-height: 100px;}
    .slide_text a:hover {font-size: 90px;}
    .btn6:before {height: 340px;bottom: -175px;}


    #disco {height: auto;display: flex;flex-wrap: wrap;}
    .dis1 {width: 100%;}
    .dis2 {width: 50%;}
    .dis3 {width: 50%;}
    .dis4 {width: 100%;order: 1;}
    #notice {width: calc(100% - 40px);}
    .dis6 {width: 50%;}
    .dis5 {width: 50%;}

    #in {width: 100%; height: auto;}
    .inp {width: 100%;padding: 50px;flex-wrap: wrap;justify-content: space-evenly;box-sizing: border-box;}
    .inp a{width: 40%; margin-bottom: 30px;}
    .inp img{width: 90%;box-sizing: border-box;}
    .ain h1{font-size: 300%;}

    .sit ul{font-size: 130%;padding-top: 25px;}
    .sit li:hover{transform: scale(110%);}
}
