@charset "utf-8";


*{margin: 0; padding: 0;}
body{margin: 0; padding: 0;}
ul,ol,li {list-style: none;}
a{text-decoration: none; color: #333;}


/* 헤더 */
header {width: 100%;height: 80px;background-color: red;}
header img{width: 10%;height: 15%;}

/* 슬라이더 */
#slider {width: 100%; height: 800px; background-color: orange;}

/* 디스코버 */
#disco{width: 1400; height: 600px; margin: 0 10%;background-color: yellow;}



/* 컨테이너 */
#container{width: 100%; height: 300px;background-color:#444;}
