@charset "utf-8";

*{box-sizing: border-box;}
header{position:static;}

/* 갤러리 */
#gallery{width: 100%;margin: 0 auto;display: flex;justify-content: center;}
#boxcan {width: 100%;height: auto;display: flex;flex-wrap: wrap;}
.row{width:100% ;display: flex; flex-wrap: wrap;}

.right{width: 70%; display: flex; flex-wrap: wrap;height: 300px;}
.right :hover{cursor: pointer;}

.box img{width: 100%;height: 100%;}

.row1 {width: 100%; display: flex; flex-wrap: wrap; cursor: pointer;text-align: center;}
.row1 :hover{cursor: pointer;}

/* 컨테이너 */
#container{width: 100%; height: 250px;background-color:#353030;}
.contain {color: #fff;text-align: center;padding-top: 50px;}
.contain h3{font-size: 15px;opacity: 0.5;font-weight: 300;}
.contain h2{font-size: 16px;opacity: 0.6;font-weight: 500;}
.contain h4{font-size: 16px;opacity: 0.4;font-weight: 300;}
.contain h4:hover{cursor: pointer;opacity: 1;}

/* ------서브------ */

@media (max-width:850px) {
    #gallery{width: 100%;height: auto;margin: 0 auto;display: flex;justify-content:center;}
    #boxcan {width: 100%;height: auto;display: flex;flex-wrap: wrap;}
    .row{width:100%; flex-wrap: wrap;}


    .left{width: 70%;height: auto; display: flex;margin: 0 auto;}
    .left .box{width: 100%; height: 500px;}
    .left .box:hover{cursor: pointer; }
    
    .right{height: auto; display: flex; flex-wrap: wrap;margin: 0 auto;}
    .right .box{width: 100%;height: 500px;}
    /* .right .box:nth-of-type(4){width: 50%;height: 300px;display: none;} */
    
    .box img{width: 100%;height: 100%;}
    
    .row1 {width: 100%; display: flex; flex-wrap: wrap; cursor: pointer; margin: 0 auto;justify-content:center;}
    .row1 .box{width: 70%;height: 50%; display: flex;}
    .row1 .box:nth-of-type(1){width: 70%;height: 500px;}
    .row1 .box:nth-of-type(2){width: 70%;height: 500px;}
    #boxcan>.row>.row1{display: none;}
}


@media (min-width:850px) and (max-width:1415px) {
    #gallery{margin-top: 8px;width: 100%;height: 1500px;margin: 0 auto;display: flex;justify-content: center;}
    #boxcan {width: 100%;height: 900px;display: flex;flex-wrap: wrap;}
    .row{width:100% ; flex-wrap: wrap;}


    .left{width: 30%; display: flex;}
    .left .box{width: 100%; height: 600px;}
    
    .right{width: 70%;  flex-wrap: wrap;height: 300px;}
    .right .box{width: 300px;height: 300px;}
    .right .box:nth-of-type(1){width: 50%;height: 300px;}
    .right .box:nth-of-type(2){width: 50%;height: 300px;}
    .right .box:nth-of-type(3){width: 50%;height: 300px;}
    .right .box:nth-of-type(4){width: 50%;height: 300px;}
    /* .right .box:nth-of-type(5){width: 50%;height: 300px;} */
    
    .box img{width: 100%;height: 100%;}
    
    .row1 {width: 100%;  flex-wrap: wrap; cursor: pointer;}
    .row1 .box{width: 30%;height: 300px; display: flex;}
    .row1 .box:nth-of-type(1){width: 50%;height: 300px;}
    .row1 .box:nth-of-type(2){width: 50%;height: 300px;}
    #boxcan>.row>.row1{display: none;}
}

@media (min-width:1415px) {
    #gallery{margin-top: 8px;width: 100%;height: 1800px;margin: 0 auto;display: flex;justify-content: center;}
    #boxcan {width: 100%;height: 900px;flex-wrap: wrap;}
    .row{width:100% ; flex-wrap: wrap;}


    .left{width: 30%; display: flex;}
    .left .box{width: 100%; height: 600px;}
    
    .right{width: 70%; flex-wrap: wrap;height: 300px;}
    .right .box{width: 300px;height: 300px;}
    .right .box:nth-of-type(1){width: 50%;height: 300px;}
    .right .box:nth-of-type(2){width: 50%;height: 300px;}
    .right .box:nth-of-type(3){width: 33.33%;height: 300px;}
    .right .box:nth-of-type(4){width: 66.66%;height: 600px;}
    /* .right .box:nth-of-type(5){width: 50%;height: 300px;display: none;} */
    
    .box img{width: 100%;height: 100%;}
    
    .row1 {width: 100%; flex-wrap: wrap; cursor: pointer;object-fit: contain;}
    .row1 .box{width: 30%;height: 300px; display: flex;}
    .row1 .box:nth-of-type(1){width: 53.5%;height: 300px;object-fit: none;}
    .row1 .box:nth-of-type(2){width: 50%;height: 300px; display: none;}
}

